.ios .navbar-bg
    background-color transparent
    backdrop-filter none
    &:after
        background-color transparent
#campana
    background-color #255457
    .swiper-container
        margin-bottom 35px
    .donar
        margin-bottom 100px

    .navbar-bg
        background-color transparent
    .navbar-bg:before 
        display none
    .navbar
        .title
            display none
    .logo
        text-align center
    .footer
        position relative
        bottom 0
        width 100%
    .title
        font-weight bold
        font-size 24px
        color white
        text-align center
        padding-top 50px
        padding-bottom 30px
    .paquete
        text-align center
        .card
            // height 147px
            margin-top -50px
            border-radius: 15px
            p
                margin 0
            .descripcion
                color #2F6566
                font-size 14px
                line-height 16px
                margin-bottom 3px
            .nombre
                color #183738
                font-size 26px
                font-weight 900
                line-height 30px
                margin-bottom 8px
            .precio
                color #2F6566
                font-size 16px
                line-height 19px
                &.personalizado
                    text-decoration underline
                i
                    font-size 18px
                    line-height 19px
        .card-content
            text-align center
            padding-top 52px
        .icono
            height 106px
            width auto
            position relative
            z-index 2
            color #BFBB52
            font-size 80px

