/* Custom color theme properties */
:root {
  --f7-theme-color: #ff9600;
  --f7-theme-color-rgb: 255, 150, 0;
  --f7-theme-color-shade: #d67e00;
  --f7-theme-color-tint: #ffa729;
  --f7-button-border-radius 10px;
  --f7-color-green-as: #255457;
}

/* Your app custom styles here */
#splash-home
  background-image url('/static/splash.svg')
  background-size 100%
  background-position 50% 100%
  background-repeat no-repeat

@import "_home"
@import "_campana"